<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>app</title>
</head>
<body>
<center><h1>Calculator App</h1></center><br><br>

<center>
    <form  method="post">
        <div>
            First Number: <input type="text" name="fnum" required><br><br>
            Second Number: <input type="text" name="snum" required><br><br>
            option: <select name="calc">
               <option value ="o">----------Select---------</option>
            <option value="1">Sum</option>
            <option value="2">Subtraction</option>
            <option value="3">Multiplication</option>
            <option value="4">Division</option>


        </select><br><br>
            <input type="submit"><br><br>
            {{"result",abc}}<br><br>

        </div>
    </form>
</center>
</body>
</html>
